# Research on Borrower Reliability

## Open the table and study the general information about the data

### Task 1. 
Import the pandas library. Read the data from the csv-file into a dataframe and save it to the variable `data`. File path: `/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

### Task 2. 
Display the first 20 rows of the `data` dataframe on the screen.

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

### Task 3. 
Display the main information about the dataframe using the `info()` method.

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

### Task 3. 
Display the main information about the dataframe using the `info()` method.

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Data Preprocessing

### Handling Missing Values

### Task 4. 
Display the number of missing values for each column. Use a combination of two methods.

In [ ]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

### Task 5. 
There are missing values in two columns. One of them is `days_employed`. You will handle the missing values in this column in the next step. The other column with missing values, `total_income`, stores income data. The income amount is most strongly influenced by the employment type, so the missing values in this column should be filled with the median value for each type from the `income_type` column. For example, a person with the employment type 'employee' who has a missing value in the `total_income` column should have it filled with the median income among all records with the same type.

In [ ]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Handling Anomalous Values

### Task 6. 
The data may contain artifacts (anomalies) — values that do not reflect reality and appeared due to some error. Such an artifact would be a negative number of days of employment in the `days_employed` column. For real data, this is normal. Process the values in this column: replace all negative values with positive ones using the `abs()` method.

In [ ]:
data['days_employed'] = data['days_employed'].abs()

### Task 7. 
For each employment type, display the median value of `days_employed` in days.

In [ ]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

Two types (unemployed and pensioners) have abnormally large values. It is difficult to correct such values, so leave them as they are.

### Task 8. 
Display the list of unique values in the `children` column.

In [ ]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

### Task 9. 
There are two anomalous values in the `children` column. Remove the rows containing these anomalous values from the `data` dataframe.

In [ ]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

### Task 10. 
Display the list of unique values in the `children` column again to ensure the artifacts have been removed.

In [ ]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Handling Missing Values (continued)

### Task 11. 
Fill the missing values in the `days_employed` column with the median values for each `income_type`.

In [ ]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

### Task 12. 
Make sure all missing values are filled. Check your work and display the number of missing values for each column again using two methods.

In [ ]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Changing Data Types

### Task 13. 
Replace the float data type in the `total_income` column with an integer data type using the `astype()` method.

In [ ]:
data['total_income'] = data['total_income'].astype(int)

### Handling Duplicates

### Task 14. 
Handle implicit duplicates in the `education` column. This column contains the same values written differently: using uppercase and lowercase letters. Convert them to lowercase.

In [ ]:
data['education'] = data['education'].str.lower()

### Task 15. 
Display the number of duplicate rows in the data. If such rows are present, remove them.

In [ ]:
data.duplicated().sum()

71

In [ ]:
data = data.drop_duplicates()

### Data Categorization

### Task 16. 
Based on the ranges specified below, create a new column `total_income_category` in the `data` dataframe with the following categories: 
- 0–30000 — 'E' 
- 30001–50000 — 'D' 
- 50001–200000 — 'C' 
- 200001–1000000 — 'B' 
- 1000001 and above — 'A'. 

For example, a borrower with an income of 25,000 should be assigned the category 'E', and a client with an income of 235,000 should be assigned 'B'. Use your own function named `categorize_income()` and the `apply()` method.

In [ ]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [ ]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

### Task 17. 
Display the list of unique loan purposes from the `purpose` column.

In [ ]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

### Task 18. 
Create a function that, based on the data from the `purpose` column, will form a new column `purpose_category`, which will include the following categories: 
- 'car operations' 
- 'real estate operations' 
- 'hosting a wedding' 
- 'getting an education'. 

For example, if the `purpose` column contains the substring 'to buy a car', then the `purpose_category` column should contain the string 'car operations'. 

Use your own function named `categorize_purpose()` and the `apply()` method. Study the data in the `purpose` column and determine which substrings will help you correctly identify the category.

In [ ]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [ ]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

## Step 3. Explore the data and answer the questions

### 3.1 Is there a relationship between the number of children and repaying the loan on time?

In [ ]:
grouped_data = data.groupby('children')['debt']
count = grouped_data.size()
mean = grouped_data.mean()
results = pd.DataFrame({'count': count, 'mean': mean})
display(results)

          count      mean
children
0         14091  0.075438
1          4808  0.092346
2          2052  0.094542
3           330  0.081818
4            41  0.097561
5             9  0.000000

**Conclusion:** It can be concluded that childless borrowers more often repay their loans on time. The difference between borrowers with one and two children is small, only 0.2%. No conclusions can be drawn about families with five children, as the sample size is too small.

### 3.2 Is there a relationship between marital status and repaying the loan on time?

In [ ]:
grouped_data = data.groupby('family_status')['debt']
count = grouped_data.size()
mean = grouped_data.mean()
results = pd.DataFrame({'count': count, 'mean': mean})
print(results)

                       count      mean
family_status
Не женат / не замужем   2796  0.097639
в разводе               1189  0.070648
вдовец / вдова           951  0.066246
гражданский брак        4134  0.093130
женат / замужем        12261  0.075606

**Conclusion:** The highest number of loan defaulters is among borrowers with the status 'Not married' at 9.7%. The lowest number of loan defaulters is among borrowers with the status 'widower / widow' at 6.6%. This result is likely related to the age of the two groups: widowers and widows are, on average, likely older than the group of unmarried people, and consequently, they approach their financial planning more responsibly.

### 3.3 Is there a relationship between income level and repaying the loan on time?

In [ ]:
grouped_data = data.groupby('total_income_category')['debt']
count = grouped_data.size()
mean = grouped_data.mean()
results = pd.DataFrame({'count': count, 'mean': mean})
print(results)

                       count      mean
total_income_category
A                         25  0.080000
B                       5014  0.070602
C                      15921  0.084982
D                        349  0.060172
E                         22  0.090909

**Conclusion:** Borrowers from group B (income 200,001–1,000,000) are more likely to repay their loans on time than borrowers from group C (50,001–200,000). It is impossible to draw conclusions about the other groups due to small sample sizes.

### 3.4 How do different loan purposes affect on-time repayment?

In [ ]:
pivot_table = data.pivot_table(values='debt', index='purpose_category', aggfunc={'debt': ['count', 'mean']})
pivot_table.columns = ['count', 'mean']
print(pivot_table)

                            count      mean
purpose_category
операции с автомобилем     4279.0  0.093480
операции с недвижимостью  10751.0  0.072551
получение образования      3988.0  0.092528
проведение свадьбы         2313.0  0.079118

**Conclusion:** Clients who took out a loan for real estate operations have the highest rates of on-time repayment. Clients who took out a loan for car operations have the lowest rates of on-time repayment.

### 3.5 State possible reasons for the appearance of missing values in the source data.

**Answer:** There were missing values in the columns for days of employment and income in the source data. Most likely, this data was missing due to some error, as these indicators are key for issuing a loan.

### 3.6 Explain why filling missing values with the median is the best solution for quantitative variables.

**Answer:** The median is a better solution for filling missing values compared to the mean because the median is less sensitive to anomalous values in the sample (in the presence of several extremely large or small values, the median will show a value closer to the truth).

## Step 4: General Conclusion

During the research on borrower reliability, data preprocessing was performed: handling missing values, changing data types, removing duplicates, and also grouping data. The study showed that parameters such as the number of children, marital status, income level, and loan purpose affect on-time loan repayment.

Childless borrowers more often repay the loan on time. The difference between borrowers with one and two children is small, only 0.2%.

The most loan defaulters are among borrowers with the status 'Not married' - 9.7%. The fewest loan defaulters are among borrowers with the status 'widower / widow' - 6.6%. This result is likely related to the age of the two groups: widowers and widows are, on average, likely older than the group of unmarried people, and as a result, approach their financial planning more responsibly.

Borrowers with an income from 200,001 to 1,000,000 are more likely to repay the loan on time than borrowers with an income from 50,001 to 200,000.

* Clients who took out a loan for real estate operations have the highest rates of on-time repayment.
* Clients who took out a loan for car operations have the lowest rates of on-time repayment.